name: Docker Image CI

on:
  workflow_dispatch: 

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: |
          docker build -t shoun6000/qr-generator:${{ github.run_number }} .
          docker tag shoun6000/qr-generator:${{ github.run_number }} shoun6000/qr-generator:latest

      - name: Push Docker Image
        run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_TOKEN }}
          docker push shoun6000/qr-generator:${{ github.run_number }}
          docker push shoun6000/qr-generator:latest
      
